@font-face {
  font-family: 'bonvenocflight';
  src: url('/font/bonvenocf_light_macroman/BonvenoCF-Light-webfont.eot');
  src: url('/font/bonvenocf_light_macroman/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('/font/bonvenocf_light_macroman/BonvenoCF-Light-webfont.woff') format('woff'),
    url('/font/bonvenocf_light_macroman/BonvenoCF-Light-webfont.ttf') format('truetype'),
    url('/font/bonvenocf_light_macroman/BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
  font-weight: normal;
  font-style: normal;

}


body {
  margin: 30px;
  font-family: 'bonvenocflight';
  cursor: default;


  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  font-family: 'bonvenocflight';
  font-size: 14px;
  display: inline-block;
  padding: 6px;
  background-color: #AAA;
  border-radius: 3px;
  cursor: default;
  text-transform: uppercase;
  box-shadow: 2px 2px 2px 1px #CCC;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:active {
  box-shadow: none;
  position: relative;
  left: 2px;
  top: 2px;
}

.toolbar-btn:hover {
  text-shadow: 0px 0px 1px #000;
  
}

.toolbar-btn-selected {
  text-shadow: 0px 0px 1px #000;
}

.info {
  color: green;
}

.warning {
  color: orangered;
}

.error {
  color: red;
}